venv
git add .
git commit -m "Added venv and installed dependencies"
git rm --cached <file>
git commit -m "Remove ignored files from repository"

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/

# Streamlit
*.streamlit/

# Jupyter Notebooks
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# FAISS files
index.faiss
index.pkl
