streamlit
gradio
langchain-community
langchain
PyPDF2
pypdf
torch
sentence_transformers
faiss-cpu
huggingface-hub
accelerate
langchain-huggingface
gradio
pypdfdirectoryloader==1.2.3
speech_recognition
LlamaCpp
RetrievalQA



