streamlit
gradio
langchain-community
langchain
PyPDF2
pypdf
torch
sentence_transformers
faiss-gpu
huggingface-hub
accelerate
langchain-huggingface
gradio
PyPDFDirectoryLoader
speech_recognition
LlamaCpp
RetrievalQA

